.containerImage {
  position: relative;
}

.imageFade {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middleImage {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.containerImage:hover .imageFade {
  opacity: 0.3;
}

.containerImage:hover .middleImage {
  opacity: 1;
}

.textImage {
  padding: 16px 32px;
}